{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/default/css/style.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for item in menu.getItems %}
                {% set image = 'assets/default/images/no-screenshot.png' %}
                {% if file_exists(item.image) %}
                    {% set image = item.image %}
                {% endif %}
                <div class="col-lg-4 col-md-6 sb-preview text-center">
                    <div class="card h-100">
                        <a class="sb-preview-img" href="{{ path(item.route) }}">
                            <img class="card-img-top" src="{{ asset(image) }}" alt="{{ item.name }}">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{ item.name }}</h4>
                            <p class="card-text">Example {{ item.name }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path(item.route) }}" class="btn btn-secondary">Preview &amp; Download</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}